@using ufshop.Data.Models
@using ufshop.Services
@rendermode InteractiveServer
@code {
    public readonly BeService beService;
    public readonly CartService cartService;
    public List<CartItem> CartContent;
    public readonly int ShippingPrice = -1;

    [Parameter]
    public EventCallback<bool> OnValidityChanged { get; set; }

    public int CartContentSum
    {
        get
        {
            int output = 0;
            foreach(CartItem cartItem in CartContent)
            {
                output += cartItem.ShopItem.Price * cartItem.Amount;
            }
            return output;
        }
    }

    
    public CartEditor(BeService srv)
    {
        beService = srv;
        cartService = new CartService(beService);
        CartContent = new List<CartItem>();
        ShippingPrice = GetShippingPrice();
    }

    private int GetShippingPrice()
    {
        Shop shop;
        ShopService ss = new ShopService(beService);
        if (ss.GetShop(beService.DomainPrefix, out shop))
        {
            return shop.Settings.BaseShippingPrice;
        }
        return ufshop.Shared.Constants.BASESHIPPINGPRICE;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        @* if (firstRender)
        {
            CartContent = await cartService.GetCartContent();
        } *@
        CartContent = await cartService.GetCartContent();
        ValidityChanged();
        StateHasChanged();
    }
    
    public async Task ValidityChanged()
    {
        bool result = cartService.IsValid(CartContent);
        await OnValidityChanged.InvokeAsync(result);
    }

    private async Task HandleChangeItem()
    {
        var cartContent = await cartService.GetCartContent();
        CartContent = cartContent;
        await ValidityChanged();
        await InvokeAsync(StateHasChanged);
    }

}
<h2 class="d-flex justify-content-between align-items-center mb-3">
    <span>Varukorgen</span>
    <span>@CartContent.Count</span>
</h2>

<ul class="list-group mb-3">
    @foreach(CartItem cartItem in CartContent)
    {
        <li class="list-group-item lh-condensed"> @* class="list-group-item d-flex justify-content-between lh-condensed"> *@
            <CartEditorItem @key="@cartItem.Id" Id="@cartItem.Id" OnChange="HandleChangeItem" />
        </li>
    }
</ul>

@if (CartContent.Count > 0)
{
    <p>
    Varupris: @CartContentSum
    </p>
    <p>
    Fraktpris: @ShippingPrice
    </p>

    <p>
    @{
        int total = CartContentSum + ShippingPrice;
    }
    Totalt: @total SEK
    </p>
}


