@using ufshop.Data.Models
@using ufshop.Services
@rendermode InteractiveServer
@code {
    public readonly BeService beService;
    public readonly CustomerInfoService Service;

    public CustomerInfo Address { get; set; }


    //TODO: this reports to parent whether customerinfo is valid
    @* public bool CustomerInfoIsValid
    {
        get
        {
            bool result = Service.Valid(Address);
            return result;
        }
    }

    public async Task<bool> CustomerInfoValid()
    {
        bool result = Service.Valid(Address);
        return result;
    } *@

    [Parameter]
    public EventCallback<bool> OnValidityChanged { get; set; }



    public CustomerInfoEditor(BeService srv)
    {
        beService = srv;
        Service = new CustomerInfoService(beService);
        Address = Service.Empty();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Address = await Service.LoadAsync();
        }
        TextboxChanged();//just in case address is valid from the get go
        StateHasChanged();
    }

    public async Task TextboxChanged()
    {
        Address = Service.RemoveWhiteSpace(Address);
        bool result = Service.Valid(Address);
        if (result)
        {
            await Service.SaveAsync(Address);
        }
        await OnValidityChanged.InvokeAsync(result);
    }


    @* private async Task ForceValidate(bool b)
    {
        await OnValidityChanged.InvokeAsync(b);
    } *@

}
<h2>Adressuppgifter</h2>
@* <Button @onclick="() => ForceValidate(true)">OK</Button>
<Button @onclick="() => ForceValidate(false)">NOTOK</Button>
<p>valid customerinfo: @Service.Valid(Address)</p> *@
@if (Address is null)
{
    <Spinner />
}
else
{
    @* förnamn och efternamn *@
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label" for="cifn">
                Förnamn
                @if (Service.ValidFirstName(Address.FirstName))
                {
                    <Icon Name="IconName.CheckLg" Color="IconColor.Success"></Icon>
                }
                else
                {
                    <Icon Name="IconName.Asterisk" Color="IconColor.Danger"></Icon>
                }
            </label>
            @* <TextInput Value="@Address.FirstName" ValueExpression="() => Address.FirstName" ValueChanged="() => TextboxChanged()" type="text" class="form-control" id="cifn" /> *@
            <TextInput @bind-Value="Address.FirstName" type="text" class="form-control" id="cifn" @onblur="TextboxChanged" />
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="ciln">
                Efternamn
                @if (Service.ValidLastName(Address.LastName))
                {
                    <Icon Name="IconName.CheckLg" Color="IconColor.Success"></Icon>
                }
                else
                {
                    <Icon Name="IconName.Asterisk" Color="IconColor.Danger"></Icon>
                }
            </label>
            <TextInput @bind-Value="Address.LastName" type="text" class="form-control" id="ciln" @onblur="TextboxChanged" />
        </div>
    </div>

    @* gatuadress *@
    <div class="row">
        <div class="col">
            <label class="form-label" for="cisn">
                Gatuadress
                @if (Service.ValidStreetName(Address.StreetName))
                {
                    <Icon Name="IconName.CheckLg" Color="IconColor.Success"></Icon>
                }
                else
                {
                    <Icon Name="IconName.Asterisk" Color="IconColor.Danger"></Icon>
                }
            </label>
            <TextInput @bind-Value="Address.StreetName" type="text" class="form-control" id="cisn" @onblur="TextboxChanged" />
        </div>
    </div>

    @* postkod och stad *@
    <div class="row">
        <div class="col-md-3 mb-3">
            <label class="form-label" for="cizc">
                Postkod
                @if (Service.ValidZipCode(Address.ZipCode))
                {
                    <Icon Name="IconName.CheckLg" Color="IconColor.Success"></Icon>
                }
                else
                {
                    <Icon Name="IconName.Asterisk" Color="IconColor.Danger"></Icon>
                }
            </label>
            <TextInput @bind-Value="Address.ZipCode" type="text" class="form-control" id="cizc" @onblur="TextboxChanged" />
        </div>
        <div class="col-md-9 mb-3">
            <label class="form-label" for="cici">
                Stad
                @if (Service.ValidCity(Address.City))
                {
                    <Icon Name="IconName.CheckLg" Color="IconColor.Success"></Icon>
                }
                else
                {
                    <Icon Name="IconName.Asterisk" Color="IconColor.Danger"></Icon>
                }
            </label>
            <TextInput @bind-Value="Address.City" type="text" class="form-control" id="cici" @onblur="TextboxChanged" />
        </div>
    </div>

    @* epost och telefon *@
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label" for="ciem">
                E-post
                @if (Service.ValidEmailPhone(Address.Email, Address.Phone))
                {
                    <Icon Name="IconName.CheckLg" Color="IconColor.Success"></Icon>
                }
                else
                {
                    <Icon Name="IconName.Asterisk" Color="IconColor.Danger"></Icon>
                }
            </label>
            <TextInput @bind-Value="Address.Email" type="text" class="form-control" id="ciem" @onblur="TextboxChanged" />
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="cipn">
                Telefonnummer
                @if (Service.ValidEmailPhone(Address.Email, Address.Phone))
                {
                    <Icon Name="IconName.CheckLg" Color="IconColor.Success"></Icon>
                }
                else
                {
                    <Icon Name="IconName.Asterisk" Color="IconColor.Danger"></Icon>
                }
            </label>
            <TextInput @bind-Value="Address.Phone" type="text" class="form-control" id="cipn" @onblur="TextboxChanged" />
        </div>
    </div>

    @* info *@
    <div class="row">
        <div class="col">
            <label class="form-label" for="ciin">
                Ytterligare information
                @if (Service.ValidInfo(Address.Info))
                {
                    <Icon Name="IconName.CheckLg" Color="IconColor.Success"></Icon>
                }
                else
                {
                    <Icon Name="IconName.Asterisk" Color="IconColor.Danger"></Icon>
                }
            </label>
            <TextInput @bind-Value="Address.Info" type="text" class="form-control" id="ciin" @onblur="TextboxChanged" />
        </div>
    </div>
}
