@using System.Collections.Immutable
@using System.Reflection.Metadata
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using ufshop.Data.Models
@using ufshop.Services
@using ufshop.Shared
@namespace ufshop.Components.UI
@rendermode InteractiveServer

@code {
    public readonly BeService beService;

    public readonly ImageSelectorService Service;

    [Parameter]
    public ShopImage Image { get; set; }

    [Parameter]
    public EventCallback<string> OnValueSelected { get; set; }

    public HashSet<ShopImage> AllImages
    {
        get
        {
            return Service.GetAllImages();
        }
    }

    public ImageSelector(BeService srv)
    {
        beService = srv;
        Service = new ImageSelectorService(srv);
    }

    private async Task SelectImage(EventArgs args, ShopImage shopImage)
    {
        string SelectedId = shopImage.Id.ToString();
        await OnValueSelected.InvokeAsync(SelectedId);
    }

}

<div class="image-selector-grid">
    <div class="row g-3">
        @foreach(ShopImage shopImage in AllImages.OrderBy(e => e.Created))
        {
            string thumbImageUrl = "/img/t/" + shopImage.Filename;
            string imagestyle = string.Empty; //"border: 2px solid transparent;";
            
            if (Image is not null && Image.Id.Equals(shopImage.Id))
            {
                imagestyle = "border: 2px solid var(--bs-primary); box-shadow: 0 0 5px var(--bs-primary); padding: 0; transform:scale(1.11)";
            }
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 d-flex justify-content-center">

                <Image Src="@thumbImageUrl" 
                    IsThumbNail="true" 
                    Alt="@shopImage.AltText"
                    class="img-fluid rounded-4 bg-light"
                    @onclick="((args) => SelectImage(args, shopImage))" 
                    style="@imagestyle" 
                    loading="lazy" />
            </div>
        }        
    </div>

    @if (!AllImages.Any())
    {
        <div class="text-center py-4">
            <i class="bi bi-images text-muted" style="font-size: 4rem;"></i>
            <p class="text-muted mt-3">Inga bilder tillgängliga</p>
        </div>
    }

</div>
