@using System.Collections.Immutable
@using System.Reflection.Metadata
@using SQLitePCL
@using ufshop.Data.Models
@using ufshop.Services
@using ufshop.Shared
@namespace ufshop.Components.UI
@rendermode InteractiveServer

@code {

    private readonly ManageShopOrdersService Service;

    private IEnumerable<ShopOrder> ShopOrders { get; set; } = new List<ShopOrder>();
    private int SelectedFilter { get; set; }

    public ManageShopOrders(BeService srv)
    {
        Service = new ManageShopOrdersService(srv);
        SelectedFilter = 5;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        @* await Reload(); *@
        ShopOrders = Service.GetAllShopOrders();
    }

    private async Task Reload()
    {   
        ShopOrders = Service.GetAllShopOrders();
        StateHasChanged();
    }

    private bool CountZeroReload = false;

}
<div class="row">
    <div class="col">
        <Button Color="ButtonColor.Primary" @onclick="Reload">
            <Icon Name="IconName.ArrowClockwise" />
        </Button>
    </div>
</div>
@if (ShopOrders is null)
{
    <Spinner />
}
else if (ShopOrders.Count() == 0)
{
    if (!CountZeroReload)
    {//ugly hack
        CountZeroReload = true;
        Reload().Wait();
    }
    <p>Inga ordrar registrerade</p>
}
else
{
    <h2>Ordrar</h2>
    
    <select class="form-select">
        <option selected disabled>Visa</option>
        <option value="1">Obetalda</option>
        <option value="2">Betalda</option>
        <option value="3">Skickade</option>
        <option value="4">Avvisade</option>
        <option value="5">Alla</option>
    </select>

    <Accordion>
    @foreach(ShopOrder shopOrder in ShopOrders)
    {
        string accordionTitle = shopOrder.Created + " - " + shopOrder.CustomerInfo.FirstName + " " + shopOrder.CustomerInfo.LastName + " " + shopOrder.CustomerInfo.City;
        <AccordionItem Title="@accordionTitle">
            <Content>
                <ManageShopOrder Id="@shopOrder.Id" ShopOrder="@shopOrder" />
            </Content>
        </AccordionItem>
    }
    </Accordion>
}



@* 

    <Dropdown Color="DropdownColor.Secondary" Size="DropdownSize.Large">
        <DropdownToggleButton>Large button</DropdownToggleButton>
        <DropdownMenu>
            <DropdownItem To="#" Type="DropdownItemType.Link">Action</DropdownItem>
            <DropdownItem To="#" Type="DropdownItemType.Link">Another action</DropdownItem>
            <DropdownItem To="#" Type="DropdownItemType.Link">Something else here</DropdownItem>
            <p>Hej</p>
            <p>Då</p>
            <code>
                rad1
                rad2
            </code>
        </DropdownMenu>
    </Dropdown> *@
