@using System.Collections.Immutable
@using System.Reflection.Metadata
@using SQLitePCL
@using ufshop.Data.Models
@using ufshop.Services
@using ufshop.Shared
@namespace ufshop.Components.UI
@rendermode InteractiveServer

@code {

    private readonly ManageShopOrdersService Service;

    private IEnumerable<ShopOrder> ShopOrders { get; set; } = new List<ShopOrder>();
    private int SelectedFilter { get; set; }

    public ManageShopOrders(BeService srv)
    {
        Service = new ManageShopOrdersService(srv);
        SelectedFilter = 4;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        @* await Reload(); *@
        ShopOrders = Service.GetAllShopOrders();
    }

    private async Task Reload()
    {   
        @* ShopOrders = Service.GetAllShopOrders(); *@
        ShopOrders = Service.GetFilteredShopOrders(SelectedFilter);
        StateHasChanged();
    }

    private bool CountZeroReload = false;

    private void SelectFilterChange(ChangeEventArgs e)
    {
        int selectedFilter = -1;
        if (int.TryParse(e.Value.ToString(), out selectedFilter))
        {
            SelectedFilter = selectedFilter;
            //TODO: refresh ShopOrders
            ShopOrders = Service.GetFilteredShopOrders(selectedFilter);
        }
    }

}
<div class="row">
    <div class="col">
        <Button Color="ButtonColor.Primary" @onclick="Reload">
            <Icon Name="IconName.ArrowClockwise" />
        </Button>
    </div>
</div>
@if (ShopOrders is null)
{
    <Spinner />
}
else
{
    <h2>Ordrar</h2>
    
    <select class="form-select" @onchange="SelectFilterChange">
        <option selected disabled>Visa</option>
        <option value="1">Betalda</option>
        <option value="2">Levererade</option>
        <option value="3">Avvisade</option>
        <option value="4">Alla</option>
        <option value="0">Ej betalda</option>
    </select>
    <hr />

    <Accordion>
    @foreach(ShopOrder shopOrder in ShopOrders)
    {
        string accordionTitle = shopOrder.Created + " - " + shopOrder.CustomerInfo.FirstName + " " + shopOrder.CustomerInfo.LastName + " " + shopOrder.CustomerInfo.City;
        <AccordionItem Title="@accordionTitle">
            <Content>
                <ManageShopOrder Id="@shopOrder.Id" ShopOrder="@shopOrder" />
            </Content>
        </AccordionItem>
    }
    </Accordion>
}
