@using System.Collections.Immutable
@using System.Reflection.Metadata
@using Microsoft.EntityFrameworkCore.Query
@using ufshop.Components.Account.Pages
@using ufshop.Data.Models
@using ufshop.Services
@using ufshop.Shared
@namespace ufshop.Components.UI
@rendermode InteractiveServer

@code {

    private readonly ShopOrderStatusService Service;

    [Parameter]
    public Guid Id { get; set; } // shoporder id

    [Parameter]
    public ShopOrderStatus? Status { get; set; }

    private readonly Dictionary<int, string> Translation = new Dictionary<int, string>{
        {0, "Ej betald"},
        {1, "Betald"},
        {2, "Levererad"},
        {3, "Avvisad"},
    };

    public ManageShopOrderStatus(BeService srv)
    {
        Service = new ShopOrderStatusService(srv);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }

    private void SelectChange(ChangeEventArgs e)
    {
        if (e is not null && e.Value is not null)
        {
            int selectedValue = -1;
            if (int.TryParse(e.Value.ToString(), out selectedValue))
            {
                Status = Service.SetStatus(Id, selectedValue);

            }
        }
    }
}
@if (Status is null)
{
    <Spinner />
}
else
{
    string translated = Translation[(int)(Status.Value)];

    @* <p>@Id</p> *@
    <p>Status: @translated</p>
    <select class="form-select" @onchange="SelectChange">
        <option selected disabled>Ändra status till</option>
        <option value="0">Ej betald</option>
        <option value="1">Betald</option>
        <option value="2">Levererad</option>
        <option value="3">Avvisad</option>
    </select>
}
