@page "/checkout"
@using ufshop.Services
@using ufshop.Data.Models
@rendermode InteractiveServer
@* @inject ufshop.Services.BeService BeService *@
@code {
    private readonly BeService beService;
    @* private readonly CartService cartService; *@
    private readonly CustomerInfoService customerInfoService;

    //cart i localstorage
    //adress i localstorage

    private bool cartValid { get; set; }
    private async Task UpdateCartValid(bool isValid)
    {
        cartValid = isValid;
        StateHasChanged();
    }
    private bool customerInfoValid { get; set; }
    private async Task UpdateCustomerInfoValid(bool isValid)
    {
        customerInfoValid = isValid;
        StateHasChanged();
    }


    public Checkout(ufshop.Services.BeService svc)
    {
        beService = svc;
        @* cartService = new CartService(svc); *@
        customerInfoService = new CustomerInfoService(svc);
    }

    private async Task NavigateBack()
    {
        await beService.JsRuntime.InvokeVoidAsync("history.back");
    }

    private async Task DoCheckout()
    {
        if (cartValid && customerInfoValid)
        {
            CartService cartService = new CartService(beService);
            List<CartItem> cart = await cartService.GetCartContent();
            CustomerInfo customerInfo = await customerInfoService.LoadAsync();

            OrderService orderService = new OrderService(beService);

            if (orderService.MakeOrder(cart, customerInfo))
            {
                //stored OK, navigate to payment page
            }
            else
            {
                //sum thin won
            }

            
        }
    }
}
<PageTitle>Checka Ut</PageTitle>
<HeadContent>
    @* <meta name="headcontent" description="lol yep!" /> *@
</HeadContent>

<Button Color="ButtonColor.Primary" @onclick="NavigateBack">
    <Icon Name="IconName.ArrowLeft" />
</Button>

<h1>Checka ut</h1>
<p>
    cartValid: @cartValid
</p>
<p>
    customerInfoValid: @customerInfoValid
</p>
<div class="row">
    <div class="col-md-6 order-md-2 mb-4">
        <CartEditor OnValidityChanged="UpdateCartValid" />
    </div>
    <div class="col-md-6 order-md-1">
        <CustomerInfoEditor OnValidityChanged="UpdateCustomerInfoValid" />
    </div>
</div>
@if (cartValid && customerInfoValid)
{
    <Button Color="ButtonColor.Primary" @onclick="DoCheckout">Genomför beställning</Button>
}
else
{
    <Button Color="ButtonColor.Danger" Disabled="true" style="text-decoration:line-through">Genomför beställning</Button>
}

