@page "/login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using ufshop.Data
@using ufshop.Data.Models
@using ufshop.Components.Account
@using ufshop.Components.Account.Shared
@using ufshop.Services


@inject SignInManager<ApplicationUser> SignInManager
@* @inject ILogger<Login> Logger *@
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>


<div class="container d-flex align-items-center justify-content-center" style="min-height: 75vh;">
@* <div class="row w-100 justify-content-center"> *@
    
        <div class="col-12 col-sm-10 col-md-6 col-lg-4">

            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h3 class="text-center m-4">Logga in</h3>

            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />

                    <!-- Email -->
                    <div class="mb-3">
                        <label for="Input.Email" class="form-label">Email</label>
                        <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="namn@exampel.com" />
                        <ValidationMessage For="() => Input.Email" class="text-danger" />
                    </div>

                    <!-- Password -->
                    <div class="mb-4">
                        <label for="Input.Password" class="form-label">Lösenord</label>
                        <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Lösenord" />
                        <ValidationMessage For="() => Input.Password" class="text-danger" />
                    </div>

                    @* <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" /> *@
                    <button type="submit" class="w-100 btn btn-lg btn-primary fw-semibold">Logga in</button>
            </EditForm>
            </div>
                </div>
            </div>
</div>
@code {
    public readonly BeService beService;
    private string? errorMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    public Login(BeService srv)
    {
        beService = srv;
    }

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync(IdentityConstants.ExternalScheme);
        }
    }

    public async Task LoginUser()
    {

        //TODO: vi måste matcha domänprefix med user också
        //TODO: exempel: försöker joje logga in på isac.ufshop.nu
        //TODO: måste inloggningen fail:a

        bool userIsOnCorrectDomain = ValidateUserWithPrefix(Input.Email);

        if (userIsOnCorrectDomain)
        {
            // This doesn't count login failures towards account lockout
            // To enable password failures to trigger account lockout, set lockoutOnFailure: true
            ;
            var result = await SignInManager.PasswordSignInAsync(Input.Email, Input.Password, true, lockoutOnFailure: false);
            ;
            if (result.Succeeded)
            {
                @* Logger.LogInformation("User logged in."); *@
                RedirectManager.RedirectTo(ReturnUrl);
            }
            else
            {
                errorMessage = "Fel: ogiltiga loginuppgifter";
            }
        }
        else
        {
            errorMessage = "Fel: användaren finns inte på domänen";
        }
    }

    private bool ValidateUserWithPrefix(string name)
    {
        bool output = false;

        ApplicationUser user = beService.UserManager.FindByEmailAsync(name).Result!;

        if (user is not null)
        {
            if (beService.DbContext.Shops.Where(e => e.Owner.Equals(user)).Any())
            {
                Shop shop = beService.DbContext.Shops.Where(e => e.Owner.Equals(user)).First();
                output = beService.DomainPrefix.Equals(shop.Prefix);
            }
        }

        return output;
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = "";

        @* [Display(Name = "Remember me?")] *@
        @* public bool RememberMe { get; set; } *@
    }
}
